<div class="form">
  <h3>新規投稿</h3>
  <%= form_tag("/blog", method: :post) do %>
    <div class="row">
        <div class="row">
          <div class="input-field col s6">
            <input id="title" type="text" class="validate" name="title">
            <label for="last_name">タイトル</label>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" name="text"></textarea>
            <label for="textarea1">本文</label>
          </div>
        </div>
    </div>
    <input class="button" type="submit" value="SENT">
  <% end %>
</div>